---
import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main.astro';
import Mv from '../components/Mv.astro';
import FixedBtn from '../components/FixedBtn.astro';
import About from '../components/About.astro';
import Lesson from '../components/Lesson.astro';
import Facility from '../components/Facility.astro';
import Coach from '../components/Coach.astro';
import News from '../components/News.astro';
---

<Layout title="">
  <Main>
    <FixedBtn />
    <Mv />
    <About />
    <Lesson />
    <Facility />
    <Coach />
    <News />
  </Main>
</Layout>

<style lang="scss"></style>
