---
import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main.astro';
import Mv from '../components/Mv.astro';
---

<Layout title="ひのとよだ心のクリニック">
	<Main>
		<Mv></Mv>
	</Main>
</Layout>


<style lang="scss">
	.bg-footer {
		.bg-texture {
			background-image: url(/assets/img/bg_green.webp);
			z-index: 0;
		}
	}
	.bg-texture {
		position: relative;
		background-image: url(/assets/img/bg_repeat.jpg);
		background-repeat: repeat;
		z-index: 1;
	}
</style>