$f-noto: YakuHanJP, 'Noto Sans JP', 'Nunito', sans-serif;
$f-nunito: YakuHanJP, 'Nunito', 'Montserrat', sans-serif;
$f-base: YakuHanJP, 'Zen Maru Gothic', 'Noto Sans JP', sans-serif;
$f-en: YakuHanJP, 'Quicksand', 'Nunito', sans-serif;

$c-white: #fff;
$c-white02: #fffef8;
$c-base: #222222;
$c-gray01: #d9d9d9;
$c-gray02: #efefef;
$c-green01: #30b68f;
$c-green02: #4dcea9;

$c-blue01: #00bfff;

$c-orange01: #f47830;

//font-weight
$w-regular: 400;
$w-medium: 500;
$w-db: 600;
$w-bold: 700;
$w-black: 800;

// 単位変換関数
@function tovw($value, $value2) {
  @return calc(($value / $value2) * 100vw);
}

@function tovh($value, $value2) {
  @return calc(($value / $value2) * 100vh);
}

@function toper($value, $value2) {
  @return calc(($value / $value2) * 100%);
}

@function toem($value, $value2) {
  @return calc(($value / $value2) * 1em);
}

//hover
@mixin hover() {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}
