---
import SecTtl from '../components/SecTtl.astro';
---

<div class="container">
  <SecTtl secTtl="設備紹介" en="FACILITY" />
  <div class="swiper-container swiper-container1">
    <div class="swiper swiper1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/assets/dummy02.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/dummy02.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/dummy02.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/dummy02.png" alt="" />
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination1"></div>
    </div>
  </div>
  <div class="facility">
    <p class="facility__lead">
      君も体験できる！<br />
      自慢のゲーミング環境をご紹介
    </p>
    <p class="facility__txt">
      プロと同じ環境でプレイできるって、ワクワクしませんか？私たちのスクールでは、最新のゲーミングPCから快適なゲーミングチェアまで、プロゲーマーが愛用する本格的な機材を完備しています。<br
      />
      初心者の方でも安心して、最高の環境でゲームを楽しめます！
    </p>
    <ul class="facility-list">
      <li class="facility-list__item">PC：Core i7 / RTX 3070 / メモリ32GB搭載のマシン</li>
      <li class="facility-list__item">キーボード：Logicool Gシリーズを中心に取り揃え</li>
      <li class="facility-list__item">マウス：Gシリーズを中心に取り揃え</li>
      <li class="facility-list__item">モニターディスプレイ：？？？？？？</li>
      <span class="logo">
        <img src="/assets/logo_gray.svg" alt="" />
      </span>
    </ul>
  </div>
</div>

<style lang="scss">
  @use '../style/mixin/setting' as *;
  .container {
    padding-top: 40px;
    margin-bottom: 90px;
  }
  .swiper-container {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
  .facility {
    position: relative;
    margin-top: 45px;
    &__lead {
      font-size: 24px;
      font-weight: $w-bold;
      letter-spacing: 0.04em;
      line-height: 1.5;
      margin-bottom: 22px;
    }
    &__txt {
      font-size: 14px;
      font-weight: $w-medium;
      letter-spacing: 0.04em;
      line-height: 1.8;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid $c-gray01;
    }
    &-list {
      position: relative;
      display: flex;
      flex-flow: column;
      gap: 5px;
      z-index: 2;
      &__item {
        position: initial;
        font-size: 14px;
        font-weight: $w-bold;
        z-index: 2;
      }
    }

    .logo {
      position: absolute;
      transform: translateY(50%);
      right: 0;
      bottom: 0;
      width: 197px;
      height: auto;
      z-index: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
</style>
<script>
  import Swiper from 'swiper';
  import 'swiper/css/bundle';
  import { Autoplay, Pagination, EffectFade } from 'swiper/modules';

  const swiper = new Swiper('.swiper1', {
    modules: [Autoplay, Pagination, EffectFade],
    loop: true,
    speed: 1200, // ゆっくりとしたフェード

    effect: 'fade',
    fadeEffect: {
      crossFade: true,
    },
    spaceBetween: 30,

    autoplay: {
      delay: 5000, // 少し長めの表示時間
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-pagination1',
      clickable: true,
    },
  });
</script>
