<a href="#" class="fixed-btn">無料体験受付中</a>

<style lang="scss">
  @use '../style/mixin/setting' as *;

  .fixed-btn {
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 44px);
    height: 48px;
    color: $c-white;
    font-size: 18px;
    font-weight: $w-bold;
    letter-spacing: 0.1em;
    background-color: $c-blue01;
    border-radius: 24px;
    z-index: 3;
  }
</style>
