---

---

<div class="mv-wrap">
  <div class="mv">
    <div class="container">
      <h1 class="mv__ttl">
        <img src="/assets/mv_ttl.png" alt="Game Your Best! ゲームで君らしく、最高の自分になろう" />
      </h1>
      <button class="mv-news">
        <span class="mv-news__date">2025.08.11</span>
        <span class="mv-news__ttl">最新ニュースのお知らせ</span>
      </button>
    </div>
  </div>
</div>

<style lang="scss">
  @use '../style/mixin/setting' as *;
  .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline: 14px;
  }
  .mv-wrap {
    height: 100vh;
    min-height: 100dvh;
    padding: 10px;
  }
  .mv {
    width: auto;
    height: 100%;
    background-image: url(/assets/mv.png);
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;

    &__ttl {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .mv-news {
    position: absolute;
    left: 16px;
    bottom: 82px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: fit-content;
    &__date {
      color: $c-green01;
      font-size: 14px;
      font-weight: $w-bold;
      letter-spacing: 0.04em;
    }
    &__ttl {
      color: $c-white;
      font-size: 14px;
      font-weight: $w-bold;
      letter-spacing: 0.04em;
    }
  }
</style>
